* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  margin: 25px;
}

header {
  border-color: #d2d5db;
}

footer div{
  border-style: dotted;
}

footer p{
  padding: 15px;
}

a {
  text-decoration: none;
  color: teal;
}

.nav {
  overflow: hidden;
  border-style: dashed;
  padding: 10px;
  margin-bottom: 10px;
}

.nav img{
  float: left;
  width: 50px;
  height: 50px;
}

.nav ul{
  float: right;
  list-style: none;
}

.nav li{
  float: right;
  display: inline;
  margin-left: 10px;
}

.row {
  border-style: dotted;
  padding: 10px;
  margin-bottom: 10px;
}

.middle {
  overflow: hidden;
}

.right-rail {
  float:left;
  width: 70%;
}

.top-row {
  margin-bottom: 10px;
}

.top-row div {
  float: left;
  margin-bottom: 10px;
  border-style: dashed;
  width: 30.3%;
  margin-right: 10px;
}

.top-row div p {
  padding: 10px;
}

.bottom-row {
  margin-bottom: 10px;
}

.bottom-row div {
  float: left;
  margin-bottom: 10px;
  border-style: double;
  width: 46%;
  margin-right: 10px;
}

.bottom-row div p {
  padding: 10px;
}

.left-rail {
  float: right;
  width: 30%;
  border-style: dashed;
}

.left-rail p{
  padding: 5px;
}
