* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  margin: 25px;
}

header {
  border-color: #d2d5db;
}

footer div{
  /* border-style: dotted;  */
}

footer p{
  padding: 15px;
}

a {
  text-decoration: none;
  color: teal;
}

.nav {
  overflow: hidden;
  /* border-style: dashed;  */
  padding: 10px;
  margin-bottom: 10px;
}

.nav img{
  float: left;
  width: 50px;
  height: 50px;
}

.nav ul{
  float: right;
  list-style: none;
}

.nav li{
  float: right;
  display: inline;
  margin-left: 10px;
}

.row {
  border-style: dotted;
  margin-bottom: 10px;
}

.middle {
  border-style: none;
}

.right-rail {
  float:left;
}

.top-row {
  margin-bottom: 10px;
}

.top-row div {
  margin-bottom: 10px;
  border-style: dashed;
}

.top-row div p {
  padding: 10px;
}

.bottom-row {
  margin-bottom: 10px;
}

.bottom-row div {
  margin-bottom: 10px;
  border-style: double;
}

.bottom-row div p {
  padding: 7px;
}

.left-rail {
  border-style: dashed;
  padding: 10px;
}

.col {
  overflow: hidden;
  float: left;
}

.col0{
  width: 100%;
}

.col1 {
  width: 75%;
}

.col2 {
  width: 50%;
}

.col3 {
  width: 33.333333333%;
}

.col4 {
  width: 25%;
}


/**
 * Clear fix
 */
 .row::before,
 .row::after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }

 .row::after {
     clear: both;
 }
/* Media Query */

@media (max-width: 990px){
  .col1{
    width:100%;
  }
  .col4 {
    width:100%;
  }

}

@media (max-width: 340px){
  .nav img{
    display:none;
  }
  .nav ul{
    position:relative;
    right: 20%;
  }
}





